.item {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  color: white;
  border-style:solid;
  border-color: rgb(80, 80, 80);
  background-color: rgb(80, 80, 80);
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 27%;
  margin-bottom: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family:Arial, Helvetica, sans-serif;
}

.executedItem {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  color: white;
  border-style:solid;
  border-color: rgb(80, 80, 80);
  background-color: rgb(80, 80, 80);
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 27%;
  margin-bottom: 20px;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: line-through;
}

.deleteButton{
  position: absolute;
  left: 72%;
  border-style: solid;
  border-color: white;
  height: 30px;
  width: 70px;
  font-size: large;

}

.editButton{
  position: absolute;
  left: 65%;
  border-style: solid;
  border-color: white;
  height: 30px;
  width: 90 px;
  font-size: large;
}